/vendor
/node_modules
.env
.env.*
!.env.example
storage/*.key
storage/app/private/
public/hot
public/storage
public/build
Homestead.json
Homestead.yaml
auth.json
.phpunit.result.cache
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
